<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inicio</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      {{#if user}}
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Tickets
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{#ifCond user.tipo_usuario "===" "administrador"}}
              <a class="dropdown-item" href="/tickets/administrador">Ver Tickets</a>
              <a class="dropdown-item" href="/tickets/comment">Ver Comentarios</a>
              <a class="dropdown-item" href="/tickets/comment/new">Nuevo
                Comentario</a>
            {{/ifCond}}
            {{#ifCond user.tipo_usuario "===" "estudiante"}}
              <a class="dropdown-item" href="/tickets/new">Crear Ticket</a>
              <a class="dropdown-item" href="/tickets/comment">Ver Comentarios</a>
            {{/ifCond}}
          </div>
        </li>
      {{/if}}
    </ul>
  </div>
  <div class="form-inline my-2 my-lg-0">
    {{#if user}}
      <span class="navbar-text">Hola, {{user.nombre}}</span>
      <a class="btn btn-outline-danger my-2 my-sm-0" href="/auth/logout">Cerrar
        sesión</a>
    {{else}}
      <a class="btn btn-outline-success my-2 my-sm-0" href="/auth/login">Iniciar
        Sesión</a>
      <a
        class="btn btn-outline-primary my-2 my-sm-0"
        href="/auth/register"
      >Registrarse</a>
    {{/if}}
  </div>
</nav>