<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Comentarios</title>
</head>
<body>
    <div class="container">
        <h2>Comentarios</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Mensaje</th>
                    <th>ID Usuario</th>
                    <th>ID Ticket</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each comments}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.mensaje}}</td>
                    <td>{{this.id_usuario}}</td>
                    <td>{{this.id_ticket}}</td>
                    <td>
                        <!-- Acciones como eliminar, editar, etc. -->
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{> footer}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
</body>
</html>
