<!-- comments.hbs -->
<h2>Comentarios</h2>
<ul class="list-group">
  {{#each comments}}
    <li class="list-group-item">
      <p>{{this.mensaje}}</p>
      <small class="text-muted">Por
        {{this.id_usuario}}
        el
        {{this.fecha_creacion}}</small>
    </li>
  {{/each}}
</ul>