<!-- new_comment.hbs -->
<h2>Añadir Comentario</h2>
<form action="/tickets/{{ticket.id}}/comment" method="POST">
  <div class="form-group">
    <label for="mensaje">Mensaje:</label>
    <textarea
      class="form-control"
      id="mensaje"
      name="mensaje"
      required
    ></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Añadir Comentario</button>
</form>