/* General Styles */
html,
body {
  height: 100%; /* Asegura que html y body ocupen el 100% de la altura de la ventana */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column; /* Establece la dirección del contenido en columna */
}

/* Main content area */
.container {
  flex: 1; /* Permite que el contenedor principal ocupe el espacio disponible */
  padding: 20px;
}

/* Table Styles */
#tickets-container {
  margin-top: 20px;
}

#tickets-table {
  margin-top: 20px;
}

/* Table Header */
#tickets-table thead {
  background-color: #f8f9fa;
}

#tickets-table th {
  font-weight: bold;
}

/* Table Body */
#tickets-table tbody tr {
  transition: background-color 0.3s;
}

#tickets-table tbody tr:hover {
  background-color: #f1f1f1;
}

#tickets-table td {
  vertical-align: middle; /* Alinea verticalmente el contenido de las celdas */
}

/* Form Styles */
#auditado-form {
  display: inline; /* Asegura que el formulario se muestre en línea */
}

#delete-ticket-form {
  display: inline; /* Asegura que el formulario de eliminación se muestre en línea */
}

/* Button Styles */
.btn-info {
  margin-right: 5px;
}

.btn-success {
  margin-right: 5px;
}

.btn-danger {
  margin-right: 5px;
}

/* Button Hover Effects */
.btn-info:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.btn-success:hover {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
}
